html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.header .logo {
  display: flex;
  justify-content: center;
}
.header img {
  height: 30%;
  width: 20%;
}
.header a {
  text-align: center;
  display: flex;
  padding: 10px 25px;
  border: 2px white solid;
}
.header p {
  margin: 2em 25em;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
h1,
h2,
h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
  color: #666;
}
h1 {
  font-weight: bold;
  text-align: center;
}
p {
  text-align: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
img {
  height: 100px;
  width: 100px;
}
button {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 15px 115px 15px 115px;
}
p {
  text-align: center;
}
.section3 {
  background-color: white;
  border: 1px solid red;
  margin: 0;
}
.section3 img {
  height: 300px;
  width: 300px;
  padding: 2em 2em;
}
.section3 .cheese {
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
}
.section3 .cheese .text3 {
  text-align: center;
  padding: 10em 0;
}
.section5 {
  background: url(/less/iStock-494239087.jpg);
  background-size: auto;
  background-attachment: fixed;
  text-align: center;
  margin: 5em;
}
.section6 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  padding-top: 2em;
}
.section6 div {
  width: 30%;
  height: 600px;
}
.section6 img {
  width: 60%;
  height: 50%;
}
.copyright {
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2em 8em;
}
.copyright .login:hover {
  cursor: pointer;
}
.copyright a {
  width: 118px;
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 350px;
  height: 10vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #81C784;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu--open {
  display: block;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  button {
    border-radius: 4px;
    border: 1px solid grey;
    margin: 3em 0 3em 11em;
    padding: 15px 115px 15px 115px;
  }
  img {
    height: 100px;
    width: 100px;
  }
  .header p {
    line-height: 2;
    margin: 0;
  }
  a {
    text-align: center;
  }
  ul {
    text-align: center;
  }
  .cheese {
    flex-direction: column;
  }
  .cheese .doggo {
    padding: 3em;
  }
  .cheese .text3 {
    padding: 0em;
  }
  .section5 .icon {
    display: flex;
  }
  .section5 .icon .headline {
    justify-content: center;
  }
  .section5 h3 {
    font-size: 12px;
  }
  .section5 h3 {
    border-bottom: 1px solid grey;
  }
  .section5 button {
    width: 100%;
  }
  .signup {
    text-align: center;
  }
  .signup button {
    display: flex;
    flex-direction: column;
    margin: 3em 0 3em 8em;
  }
  .signup .signbt1 {
    background-color: white;
  }
  .section5 {
    display: flex;
    justify-content: center;
  }
  .section6 {
    flex-direction: column;
  }
  .section6 div {
    width: 100%;
  }
  .section6 button {
    margin: 0;
  }
  .footer-icons {
    padding-bottom: 2em;
  }
  .copyright {
    padding: 0;
  }
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 350px;
  height: 10vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #81C784;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu--open {
  display: block;
}
.staff {
  text-align: center;
  margin: 0 20em;
}
@media (max-width: 500px) {
  .staff {
    margin: 0em;
  }
}
.tabs .topics {
  display: flex;
  justify-content: space-evenly;
}
.tabs .topics .flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.tabs .topics .tab {
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
  padding: 20px 20px;
  color: black;
}
.tabs .topics .tab:hover {
  cursor: pointer;
}
.tabs .topics .active-tab {
  background-color: lightblue;
  color: white;
  border: 2px solid black;
  justify-content: center;
  padding: 20px 20px;
}
.middle-content {
  background-color: white;
  margin: 1em 0 4em 0;
  border: 1px solid red;
  padding: 5em 0;
}
.middle-content .card_info {
  padding: 5em 5em 0 3em;
}
.middle-content img {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
}
.glorp {
  width: 30%;
}
.card {
  display: none;
}
.card .card_info h1 {
  font-weight: bold;
  font-size: 20px;
}
.card .card_info p {
  font-size: 15px;
  line-height: 1.5rem;
}
.active-tab-selected {
  display: flex;
}
.fas {
  color: black;
  background-color: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-size: 3em;
  position: sticky;
  top: 1px;
}
.fas:hover {
  cursor: pointer;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-6 17:26:32
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
.signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signup p {
  font-size: 2em;
  line-height: 2;
}
.signup button {
  width: 20%;
  justify-content: center;
}
.footer .footer-icons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
}
.footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.footer .fa-twitter {
  background: #55ACEE;
  color: white;
}
.footer .fa-facebook {
  background: #3B5998;
  color: white;
}
.footer .fa-instagram {
  background: #125688;
  color: white;
}
.footer .fa-github {
  color: black;
  background: white;
}
.footer .fa-google {
  color: white;
  background: red;
}
