	h1,h2,h3{
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
        line-height: 1.65em;
        color: #666;
	}
	h1{
		font-weight: bold;
		text-align: center;
	}
	p{
		text-align: center;
	}
	.container{
		width: 100%;
        margin: auto 0;
		background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	
	}
	img{
		height: 100px;
		width: 100px;
	}
	button {
		border-radius: 4px;
		border: 1px solid grey;
		margin: 3em 0 3em 2em;
		padding: 15px 115px 15px 115px;
	}
	p{
		text-align: center;
	}
	.section3{
		background-color: white;
		border: 1px solid red;
		img{
			height: 300px;
			width: 300px;
			padding: 2em 2em;
		}
		.cheese{

			padding-bottom: 3em;
			display: flex;
			justify-content: center;
			.text3{
				text-align: center;
				padding: 10em 0;
			}
		}
	}
	.section5{
		background: url(/less/iStock-494239087.jpg);
		background-size: auto;
		background-attachment: fixed;
		// h3{
		// 	bottom: 10em;
		// 	position: relative;
		// 	left: 30em;
		// 	margin: 2em 31em 0 18em;
		// }
		// p{
		// 	bottom: 15em;
		// 	position: relative;
		// 	left: 30em;
		// 	margin: 2em 12em;
		// }
		.headline{
			padding: 16em;
		}
	}
	.section6{
		display: flex;
		justify-content: space-around;
		text-align: center;
		background: white;
		padding-top: 2em;
		div{
			width: 30%;
			height: 600px;
		}
		img{
			width: 60%;
			height: 50%;
		}
	}
@media(max-width: 500px) {
	.container{
	display: flex;
	flex-direction: column;
	width: 880px;
	h1{
	
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}
	}
	button{
		border-radius: 4px;
		border: 1px solid grey;
		margin: 3em 0 3em 11em;
		padding: 15px 115px 15px 115px;
	}
	img{
		height: 100px;
		width: 100px;
		
	}
	.header{
		p{
			line-height: 2;
			margin: 0;
		}

		}
		a{
			text-align: center;
			margin: 5em; 
		}
		ul{
			text-align: center;
		}
	.section5{

		.icon{
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
			padding-left: 150px;
		}
		h3{
			font-size: 12px;
		}
	.headline {
			h3{
			border-bottom: 1px solid grey;
				}
			margin: 0 5em;
			button{
				width: 100%;
			}
			}

		}
		.signup{
			button{
				display: flex;
				flex-direction: column;
			}
			.signbt1{
				background-color: white;
				
			}
		}
	.section3{
		.doggo{
			padding: 0 12em;
			display: block;
		}
	}
	}
