.header{
    a{
    text-align: center;
    display: flex;
    padding: 10px 25px;
    border: 2px white solid;
    }
    p{
        margin: 2em 25em;
    }
}
@media (max-width: 500px){
    .container{
        width: 100%;
    }
}